Options -Indexes +SymLinksIfOwnerMatch 

RewriteEngine on
RewriteBase /server/website/production/stack/

RewriteCond %{REQUEST_URI} !^/stack/public/

RewriteCond %{HTTP_HOST} ^(www\.)?loopshape\.org
RewriteRule ^(.*)$ /stack/public/$1 [L]
